    <div class="sidebar-wrapper">
        <h2 class="ss-text-xxl"><span class="ss-important-word">Swift </span>Recipes</h2>

        <nav>
            <br />
            <ul>
                <li class="ss-text-m ss-text-semibold ss-text-tone-2" routerLink="/home" routerLinkActive="active-link">
                    <fa-icon [icon]="icons.home"></fa-icon>
                    <a>Home</a>
                </li>

                <li class="ss-text-tone-4m ss-text-semibold ss-text-tone-2" routerLink="/favourites" routerLinkActive="active-link">
                    <fa-icon [icon]="icons.favourite"></fa-icon>
                    <a>Favourites</a>
                </li>

                <li class="ss-text-m ss-text-semibold ss-text-tone-2" routerLink="/add-new-recipe" routerLinkActive="active-link">
                    <fa-icon [icon]="icons.pen"></fa-icon>
                    <a>My recipes</a>
                </li>
            </ul>
        </nav>
</div>