@use '../styles/swift-styles.scss' as *;

.sidebar-wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    width: 100%;
    height: 50%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 10px;
    margin-top: 20vh;

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding-left: 20%;

        ul {
            width: inherit;
            display: flex;
            flex-flow: column;
            gap: 30px;

            li {
                display: flex;
                align-items: center;
                gap: 8px;
                padding: 5px 0;
                border-right: 3px solid transparent;
                transition: color 0.2s ease, border-color 0.2s ease;
                cursor: pointer;
            }

            li:hover {
                color: var(--text-tone-5);
            }

            .active-link {
                position: relative;
                color: var(--text-tone-5);
                border-right-color: var(--text-tone-5);
            }
        }
    }
}
